body {
  font-family: 'Roboto', sans-serif;
}

/* Force all outer containers to take up the full screen */
html, body, .app {
  height: 100%;
  width: 100%;
}

input[type=text] {
  height: 2em;
  border: none;
  padding-left: .5em;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
