body {
  font-family: 'Roboto', sans-serif;
}

html, body, .app {
  height: 100%;
  width: 100%;
}

input[type=text] {
  height: 2em;
  border: none;
  padding-left: .5em;
  box-sizing: border-box;
}
