.Navbar {
  background-color: $orange;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.Navbar__title {
  font-size: 1.2em;
  color: $white;
  letter-spacing: .05em;
}
